$primary-border-color: #f5f5f5;
$primary-white-text-color: #e6e6e6;
$primary-white-green-text-color: #cce4dd;
$bg-dark-color: #27272a;
$bg-black-color: #000a;
$bg-dark-green-color: #000500;
$bg-green-color-05: #10b98105;
$p-card-background: #13131399;
$p-card-border: #3f3f46;
$p-card-box-shadow: #5e6662;
$content-background: #0a0a0a99;
