$primary-border-color: var(--nuc-primary-border-color);
$primary-white-text-color: var(--nuc-primary-white-text-color);
$primary-white-green-text-color: var(--nuc-primary-white-green-text-color);
$bg-dark-color: var(--nuc-bg-dark-color);
$bg-black-color: var(--nuc-bg-black-color);
$bg-dark-green-color: var(--nuc-bg-dark-green-color);
$bg-green-color-05: var(--nuc-bg-green-color-05);
$p-card-background: var(--nuc-p-card-background);
$p-card-border: var(--nuc-p-card-border);
$p-card-box-shadow: var(--nuc-p-card-box-shadow);
$content-background: var(--nuc-content-background);

// Invalid/Error colors
$invalid-color: #ef4444;
$invalid-color-light: #fca5a5;
$invalid-box-shadow: rgb(239 68 68 / 25%);
