/*  Main colors  */
$main-color: var(--main-item-color);
$main-dark-color: var(--main-item-dark-color);
$main-hover-color: var(--main-item-hover-color);
$main-focus-color: var(--main-item-focus-color);
$main-secondary-color: var(--main-item-secondary-color);
$main-selected-color: var(--main-item-selected-color);
$main-highlight-color: var(--main-item-highlight-color);

/*  Activity colors  */
$activity-color: var(--activity-item-color);
$activity-hover-color: var(--activity-item-hover-color);
$activity-focus-color: var(--activity-item-focus-color);
$activity-secondary-color: var(--activity-item-secondary-color);
$activity-selected-color: var(--activity-item-selected-color);
$activity-highlight-color: var(--activity-item-highlight-color);

/*  Article colors  */
$article-color: var(--article-item-color);
$article-hover-color: var(--article-item-hover-color);
$article-focus-color: var(--article-item-focus-color);
$article-secondary-color: var(--article-item-secondary-color);
$article-selected-color: var(--article-item-selected-color);
$article-highlight-color: var(--article-item-highlight-color);

/*  Contact colors  */
$contact-color: var(--contact-item-color);
$contact-hover-color: var(--contact-item-hover-color);
$contact-focus-color: var(--contact-item-focus-color);
$contact-secondary-color: var(--contact-item-secondary-color);
$contact-selected-color: var(--contact-item-selected-color);
$contact-highlight-color: var(--contact-item-highlight-color);

/*  Money colors  */
$money-color: var(--money-item-color);
$money-hover-color: var(--money-item-hover-color);
$money-focus-color: var(--money-item-focus-color);
$money-secondary-color: var(--money-item-secondary-color);
$money-selected-color: var(--money-item-selected-color);
$money-highlight-color: var(--money-item-highlight-color);

/*  Question colors  */
$question-color: var(--question-item-color);
$question-hover-color: var(--question-item-hover-color);
$question-focus-color: var(--question-item-focus-color);
$question-secondary-color: var(--question-item-secondary-color);
$question-selected-color: var(--question-item-selected-color);
$question-highlight-color: var(--question-item-highlight-color);

/*  Technology colors  */
$technology-color: var(--technology-item-color);
$technology-hover-color: var(--technology-item-hover-color);
$technology-focus-color: var(--technology-item-focus-color);
$technology-secondary-color: var(--technology-item-secondary-color);
$technology-selected-color: var(--technology-item-selected-color);
$technology-highlight-color: var(--technology-item-highlight-color);

/*  User colors  */
$user-color: var(--user-item-color);
$user-hover-color: var(--user-item-hover-color);
$user-focus-color: var(--user-item-focus-color);
$user-secondary-color: var(--user-item-secondary-color);
$user-selected-color: var(--user-item-selected-color);
$user-highlight-color: var(--user-item-highlight-color);
