$dark-text-color: var(--nuc-dark-text-color);
$primary-text-color: var(--nuc-primary-text-color);
$secondary-text-color: var(--nuc-secondary-text-color);
$white-text-color: var(--nuc-white-text-color);
$white-text-color-rgb: var(--nuc-white-text-rgb);
