/*  primary  */
$primary-color: #10b981;
$primary-dark-color: #125148;
$primary-hover-color: #1bbd79;
$primary-focus-color: #10b98180;
$primary-secondary-color: #10b98135;
$primary-selected-color: #10b98126;
$primary-highlight-color: #10b98115;

/*  secondary  */
$secondary-gray-color: #989898;
