@use 'sass:map';
@import 'mixins';

$items: (
  activity-log: (
    color: --activity-item-color-new,
  ),
  admin: (
    color: --main-item-color-new,
  ),
  dashboard: (
    color: --main-item-color-new,
  ),
  entities: (
    color: --main-item-color-new,
  ),
  files: (
    color: --file-item-color-new,
  ),
  settings: (
    color: --main-item-color-new,
  ),
  structural: (
    color: --main-item-color-new,
  ),
  tasks: (
    color: --task-item-color-new,
  ),
);

@each $item, $props in $items {
  #__nuxt:has(##{$item}) {
    .p-dock .iconify[ad-type='#{$item}'] {
      @include entity-dock-item-styles(var(map.get($props, color)) !important);
    }
  }
}
