@import 'mixins';

@each $type in $ad-types {
  .ad-logo[ad-type='#{$type}'] {
    @include entity-with-suffix($type) using ($suffix) {
      @include entity-logo-styles(
        var(--#{$type}-item-color#{$suffix}) !important,
        var(--#{$type}-item-dark-color#{$suffix}) !important
      );
    }
  }
}