@import 'mixins';

@each $type in $ad-types {
  .p-accordion[ad-type='#{$type}'] {
    @include entity-accordion-styles(
      var(--#{$type}-item-color) !important,
      var(--#{$type}-item-focus-color) !important,
      var(--#{$type}-item-highlight-color) !important
    );
  }
}
