@import 'mixins';

@each $type in $ad-types {
  .ad-select[ad-type='#{$type}'] {
    @include entity-select-styles(
      var(--#{$type}-item-color-new) !important,
      var(--#{$type}-item-focus-color-new) !important
    );
  }

  .ad-select-overlay[ad-type='#{$type}'] {
    @include entity-select-overlay-styles(
      var(--#{$type}-item-color-new) !important,
      var(--#{$type}-item-selected-color-new) !important,
      var(--#{$type}-item-highlight-color-new) !important
    );
  }
}