@mixin entity-select-styles($item-color, $focus-color) {
  &:hover {
    border-color: $item-color;
  }

  &[data-p="focus"] {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0.5em $focus-color;
    border-color: $item-color;
  }
}

@mixin entity-select-overlay-styles(
  $item-color,
  $selected-color,
  $highlight-color
) {
  .ad-select-option {
    &:hover {
      background: $highlight-color;
    }

    &[data-p-selected="true"] {
      color: $item-color;
      background: $selected-color;
    }
  }
}
