@import 'mixins';

@each $type in $ad-types {
  .p-checkbox[ad-type='#{$type}'] {
    @include entity-with-suffix($type) using ($suffix) {
      @include entity-checkbox-styles(
        var(--#{$type}-item-color#{$suffix}) !important
      );
    }
  }

  .p-checkbox-checked[ad-type='#{$type}'] {
    @include entity-with-suffix($type) using ($suffix) {
      @include entity-checkbox-checked-styles(
        var(--#{$type}-item-color#{$suffix}) !important
      );
    }
  }

  label:hover {
    .p-checkbox[ad-type='#{$type}'] .p-checkbox-box {
      @include entity-with-suffix($type) using ($suffix) {
        border-color: var(--#{$type}-item-color#{$suffix}) !important;
      }
    }
  }
}