@mixin entity-checkbox-styles($box-shadow-color) {
  &:hover {
    .p-checkbox-box {
      border-color: $box-shadow-color;
    }
  }
}

@mixin entity-checkbox-checked-styles($item-color) {
  .p-checkbox-box {
    background-color: $item-color;
    border-color: $item-color;
  }
}