@import 'mixins';

@each $type in $ad-types {
  .p-radiobutton[ad-type='#{$type}'] {
    @include entity-radiobutton-styles(
      var(--#{$type}-item-color-new) !important
    );
  }

  .p-dock
    .p-dock-list-container
    ul
    .p-dock-item
    .dock-position-buttons
    div[ad-type='#{$type}']
    input[type='radio'] {
    @include entity-dock-radiobutton-styles(
      #ffffff15,
      var(--#{$type}-item-color-new) !important
    );
  }
}
