:root {
  --nuc-primary-border-color: #d1d5db;
  --nuc-primary-white-text-color: #000;
  --nuc-primary-white-green-text-color: #047857;
  --nuc-bg-dark-color: #fff;
  --nuc-bg-black-color: #fffd;
  --nuc-bg-dark-green-color: #eafff6;
  --nuc-bg-green-color-05: #10b98118;
  --nuc-p-card-background: #ffffffe6;
  --nuc-p-card-border: #d4d4d8;
  --nuc-p-card-box-shadow: #c5cbc8;
  --nuc-content-background: #fffc;
  --nuc-dark-text-color: #14332a;
  --nuc-primary-text-color: #1a3d30;
  --nuc-secondary-text-color: #2d5a49;
  --nuc-white-text-color: #0f2e23;
  --nuc-white-text-rgb: 15, 46, 35;
}

.p-dark {
  --nuc-primary-border-color: #f5f5f5;
  --nuc-primary-white-text-color: #e6e6e6;
  --nuc-primary-white-green-text-color: #cce4dd;
  --nuc-bg-dark-color: #080808;
  --nuc-bg-black-color: #000a;
  --nuc-bg-dark-green-color: #00050060;
  --nuc-bg-green-color-05: #10b98105;
  --nuc-p-card-background: #13131399;
  --nuc-p-card-border: #3f3f46;
  --nuc-p-card-box-shadow: #5e6662;
  --nuc-content-background: #0a0a0a99;
  --nuc-dark-text-color: #d1d5db;
  --nuc-primary-text-color: #9ca3af;
  --nuc-secondary-text-color: #a1a1aa;
  --nuc-white-text-color: #f5f4f4;
  --nuc-white-text-rgb: 245, 244, 244;
}
