@import 'mixins';

@each $type in $ad-types {
  .p-datatable[ad-type='#{$type}'] {
    @include entity-datatable-styles(
      var(--#{$type}-item-color-user) !important,
      var(--#{$type}-item-selected-color-user) !important,
      var(--#{$type}-item-highlight-color-user) !important
    );
  }
}