@mixin entity-datatable-styles($item-color, $selected-color, $highlight-color) {
  .p-datatable-column-sorted,
  .p-paginator-content 
    button:hover {
    color: $item-color;
    background: $highlight-color;

    .p-datatable-column-title {
      color: $item-color;
    }

    .p-datatable-sort-icon {
      color: $item-color;
    }
  }

  .p-button {
    .iconify {
      color: $item-color;
    }
  }

  .p-datatable-thead {
    th:not(.p-datatable-column-sorted, .action-column) {
      &:hover {
        background: $selected-color;
      }
    }
  }

  .p-datatable-tbody {
    tr {
      &:hover {
        background: $selected-color;
      }
    }
  }

  .p-paginator {
    .p-select {
      &.p-focus {
        box-shadow: 0 0 0.5em $item-color;
        border-color: $item-color;
      }
    }
  }
}
