@import 'mixins';

@each $type in $ad-types {
  .p-textarea[ad-type='#{$type}'] {
    @include entity-textarea-styles(
      var(--#{$type}-item-color-user) !important,
      var(--#{$type}-item-focus-color-user) !important
    );
  }
}