@mixin entity-textarea-styles($item-color, $box-shadow-color) {
  &.p-invalid {
    border-color: $invalid-color;
  
    &:focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: 0 0 0.5em $invalid-color;
      border-color: $invalid-color;
    }
  }

  &:not(.p-invalid) {
    &:hover {
      border-color: $box-shadow-color;
    }

    &:focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: 0 0 0.5em $box-shadow-color;
      border-color: $item-color;
    }
  }
}
