@import 'mixins';

@each $type in $ad-types {
  .p-selectbutton[ad-type='#{$type}'] {
    @include entity-with-suffix($type) using ($suffix) {
      @include entity-select-button-styles(
        var(--#{$type}-item-selected-color#{$suffix}) !important
      );
    }
  }
}
